
/* HERO */
.hero{
    background-image: url(../img/people-traveling.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 98vh;
    @include flexbox(column, center, center);

    &__text{
        border-radius: 20px;
        margin-top: 60px;
        padding: 10px;
        background-color: rgba(21, 203, 216, 0.377);
        text-align: center;
        font-family: 'Permanent Marker', sans-serif;
        color: $color-secundario;
        font-size: 0.8rem;
    }
    &__button{
        margin-top: 20px;
        width: 150px;
        border-radius: 20px;
        background-color: rgba(219, 216, 230, 0.788);
        padding: 5px;
        text-align: center;
        font-family: 'Permanent Marker', sans-serif;
        color: rgb(138, 18, 102);
        font-size: 0.8rem;
        transition-duration: 2s;
        &:hover{
            background-color: rgb(135, 194, 25);
            transform: scale(1.1);
        }
    }
}

/*SECTION DESTINOS MAIN */
.destinos{
    grid-area: destinos;
    @include flex-column();
    padding: 5px;
    gap: 15px;
    margin-top: 15px;
    &__title{
        text-align: center;
        font-family: 'Permanent Marker', sans-serif;
        color: $color-principal;
        font-size: 1.3rem;
    }
    &__paises{
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            align-items: center;
    }
    &__tarjeta{
        @include flexbox(column, center, center);
        color: $color-texto;
        font-family: 'Permanent Marker', sans-serif;
        img{
            width: 50px;
        }
        h3{
            font-size: 0.7rem;
        }
    }
    &__button{
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        color: rgb(243, 12, 12);
        font-family: 'Permanent Marker', sans-serif;
        text-align: center;
        font-size: 0.6rem;
        background-color: rgba(219, 216, 230, 0.973);
        width: 140px;
        border-radius: 20px;
        transition-duration: 2s;
        &:hover{
            background-color: rgb(135, 194, 25);
            transform: scale(1.2);
        }
    }
}
/* SECTION POR QUE MAIN */
.porque{
    grid-area: porque;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.253);
    @include flex-column();
    gap: 10px;
    &__title{
        text-align: center;
        font-family: 'Permanent Marker', sans-serif;
        color: rgb(230, 13, 42);
        font-size: 1.1rem;
    }
    &__text{
        text-align: center;
        line-height: 1.5;
        font-family: 'Permanent Marker', sans-serif;
        color: $color-texto;
        font-size: 0.7rem;
    }
    &__button{
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        color: rgb(243, 12, 12);
        font-family: 'Permanent Marker', sans-serif;
        text-align: center;
        font-size: 0.8rem;
        background-color: rgba(219, 216, 230, 0.973);
        width: 200px;
        border-radius: 20px;
        transition-duration: 2s;
        &:hover{
            background-color: rgb(135, 194, 25);
            transform: scale(1.2);
        }
    }
}
/* SECTION REDES SOCIALES MAIN */
.redes{
    grid-area: redes;
    margin: 10px;
    gap: 5px;
    @include flexbox(column, center, center);
    animation: slide-in-left 4s ease;
    &__title{
        font-family: 'Permanent Marker', sans-serif;
        color: $color-principal;
        font-size: 1.3rem;
    }
    &__logos{
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-family: 'Permanent Marker', sans-serif;
        color: $color-texto;
        font-size: 0.8rem;
    }
}