/* TABLA PRECIOS */
.precios{
    @include flex-column();
    align-items: center;
    gap: 10px;
    margin: 10px;
    &__table{
        font-family: $fuente-texto;
        font-size: 0.9rem;
        color: $color-texto;
        width: 90vw;
        border: 5px solid black;
        padding: 1px;
        border-radius: 10px;
            /* Gradiente */
        background: rgb(33,187,193);
        background: linear-gradient(to top, rgb(219, 198, 228) 9%, rgb(166, 151, 175) 21%, rgb(146, 130, 153) 34%, rgb(198, 186, 209) 48%, rgb(174, 153, 194) 60%, rgb(161, 152, 177) 72%, rgb(207, 186, 224) 82%, rgb(196, 173, 214) 91%);
    }
    &__title{
        text-align: center;
        font-family: $fuente-titulo;
        color: $color-principal;
        font-size: $tamano-titulo;
    }
    &__button{
        padding: 5px;
        color: $color-texto;
        font-family: $fuente-texto;
        text-align: center;
        font-size: 0.9rem;
        background-color: rgba(142, 133, 196, 0.836);
        width: 150px;
        border-radius: 20px;
        transition-duration: 2s;
        &:hover{
            color: $color-texto;
            transform: scale(1.2);
        }
    }
}
/* PREGUNTAS */
.preguntas{
    @include flex-column();
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    &__caja{
        font-family: $fuente-texto;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 10px;
        padding: 10px;
    }
    &__contenedor{
        width: 90%;
        background-color: $color-cajas;
        border-radius: 10px;
        padding: 5px;
    }
    &__title{
        font-family: $fuente-titulo;
        color: $color-principal;
        font-size: $tamano-titulo;
    }
    h3{
        text-align: center;
        font-size: 0.9rem;
    }
    p{
        text-align: center;
        font-size: 0.8rem;
    }
}