/* FOOTER */

.footer{
    background-color: $color-principal;
    margin-top: 50px;
    @include flex-column();
    gap: 15px;
    img{
        width: 60px;
        padding: 5px;
    }
    h5{
        font-size: 0.9rem;
    }
    &__text{
        font-family: $fuente-texto;
        font-size: 0.7rem;
        text-align: center;
        color: $color-texto;
    }
    &__contenedor{
        @include flexbox()
    }
}