
/* FORMULARIO */
.formulario{
    grid-area: formulario;
    margin-top: 20px;
    font-family: $fuente-texto;
    font-size: 0.9rem;
    padding: 5px;
    p{
        margin-bottom: 15px;
        font-size: 0.8rem;
    }
    &__title{
        text-align: center;
        font-family: $fuente-titulo;
        color: $color-principal;
        font-size: 1.5rem;
    }
    &__caja{
        @include flex-column();
        gap: 10px;
    }
    &__cajita{
        @include flex-column();
        width: 80%;
    }
    &__input{
        border: solid $color-texto 2px;
        border-radius: 3px;
        padding: 3px;
    }
    &__button{
        text-align: center;
        padding: 5px;
        color: rgb(17, 16, 16);
        font-family: $fuente-texto;
        font-size: 0.8rem;
        background-color: $color-cajas;
        width: 120px;
        border-radius: 20px;
        cursor: pointer;
    }
}