/* HEADER */
.solo-index{
    position: absolute;
}
.links{
    color: rgb(65, 5, 5);
    font-family: 'Permanent Marker', sans-serif;
    font-size: 0.8rem;
}
.header{
    background-color: rgba(42, 144, 185, 0.699);
    width: 100%;
    @include flex-column();
    img{
        width: 60px;
        padding: 5px;
    }
    &__logo{
        @include flexbox()
    }
    &__title{
        color: $color-principal;
        font-size: 1.8rem;
        font-family: 'Pacifico', sans-serif;
    }
    &__nav{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        padding: 10px;
    }
}