/* HEADER */
.solo-index{
    position: absolute;
}
.links{
    color: rgb(65, 5, 5);
    font-family: $fuente-texto;
    font-size: 0.9rem;
    transition-duration: 0.5s;
    &:hover{
        color: $color-principal;
    }
}
.header{
    background-color: $color-cajas;
    width: 100%;
    @include flex-column();
    img{
        width: 60px;
        padding: 5px;
    }
    &__logo{
        @include flexbox()
    }
    &__title{
        color: $color-principal;
        font-size: 1.9rem;
        font-family: $fuente-titulo;
    }
    &__nav{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        padding: 10px;
    }
}